*
{
	margin: 0;
	padding: 0;
}

.green
{
	color: #4f9b00;
}

h1
{
	font-size: 2.0em;
}
h2
{
	font-size: 1.4em;
	margin: 0.9em 0 0.2em 0;
}
h3
{
	font-size: 0.9em;
	margin: 0.9em 0 0.2em 0;
}

body
{
	background-color: #fff;
	color: #444;
	font-family: Arial,Verdana,sans;
}

div#wrap
{
	width: 920px;
	min-height: 400px;
	margin: 0 auto;
	background-image: url("../images/bg-top.gif");
	background-repeat: no-repeat;
	background-color: #fff;
	padding-top: 52px;
}

div#header
{
}

div#header h1
{
	font-size: 3em;
	text-shadow: 1px 1px #bbb;
}

div#top_menu
{
	margin-top: 15px;
}

div#top_menu ul li
{
	background: url("../images/menu-separator.gif") no-repeat scroll right center transparent;
	display: inline;
	height: 50px;
	list-style: none outside none;
	padding: 15px;
	position: relative;
	top: 2px;
	font-weight: 600;
}

div#top_menu ul li a:link
{
	color: #fff;
	text-decoration: none;
}
div#top_menu ul li a:visited
{
	color: #fff;
	text-decoration: none;
}
div#top_menu ul li a:hover
{
	color: #fff;
	text-decoration: underline;
}
div#top_menu ul li a:active
{
	color: #fff;
	text-decoration: none;
}

div#top_menu ul li a.active
{
	color: #fff;
	text-decoration: underline;
}

div#content
{
	margin-top: 40px;
}
div#content h1
{
	margin-bottom: 15px;
}
div#content p
{
	margin: 15px 0;
	font-size: 0.9em;
}
div#content ul
{
	margin-left: 1.3em;
}

div#left_nav
{
	width: 205px;
	float: left;
	min-height: 350px;
	padding-right: 10px;
}

div#right
{
	float: left;
	width: 200px;
	border-left: 1px dashed green;
	margin-left: 1em;
	padding-left: 1em;
}

div#right .divider
{
	border-top: 1px solid #9FC344;
	margin-top: 20px;
	margin-bottom: 14px;
}

div#left_nav ul li
{
	font-weight: 600;
	list-style: none;
	margin-bottom: 10px;
}

.menu_item
{
	height: 20px;
	background-image: url("../images/menu-arrow.gif");
	background-repeat: no-repeat;
	background-position: 0 -18px;
	padding-left: 15px;
}

.menu_item:hover
{
	background-position: 0 0;
}

div#left_nav ul li a:link
{
	color: #444;
	text-decoration: none;
}
div#left_nav ul li a:visited
{
	color: #444;
	text-decoration: none;
}
div#left_nav ul li a:hover
{
	color: #444;
	text-decoration: underline;
}
div#left_nav ul li a:active
{
	color: #444;
	text-decoration: none;
}

.selected
{
	background-position: 0 0;
}

.submenu
{
	margin-top: 6px;
}
.submenu li
{
	font-size: 0.8em;
	padding-left: 30px;
}

a.sub_selected
{
	color: #4f9b00 !important;
}

div#breadcrumbs
{
	width: 700px;
	height: 15px;
	font-size: 0.7em;
	float: left;
	margin-bottom: 15px;
	color: #4f9b00;
}

div#breadcrumbs .separator
{
	padding: 0 8px;
	color: #444;
}
div#breadcrumbs a:link
{
	color: #444;
	text-decoration: none;
}
div#breadcrumbs a:visited
{
	color: #444;
	text-decoration: none;
}
div#breadcrumbs a:hover
{
	color: #444;
	text-decoration: underline;
}
div#breadcrumbs a:active
{
	color: #444;
	text-decoration: none;
}

div#center
{
	width: 400px;
	float: left;
	float: left;
	min-height: 350px;
}

div#footer
{
	clear: both;
	margin-top: 40px;
	height: 35px;
	border-top: 5px solid #6a9e26;
	border-left: 1px solid #a3a3a3;
	border-bottom: 1px solid #a3a3a3;
	border-right: 1px solid #a3a3a3;
	background-color: #eee;
	text-align: center;
	font-size: 0.6em;
	padding-top: 20px;
}

div#footer a:link
{
	color: #444;
	text-decoration: none;
}
div#footer a:visited
{
	color: #444;
	text-decoration: none;
}
div#footer a:hover
{
	color: #444;
	text-decoration: underline;
}
div#footer a:active
{
	color: #444;
	text-decoration: none;
}

div#footer img
{
	vertical-align: text-bottom;
	border: 0;
}

ul.sitemap
{
	padding: 0;
	margin: 0;
}
ul.sitemap li
{
	padding-left: 1.5em;
	font-weight: 600;
	list-style: none;
	background: url(../images/dots.png) 8px -2px no-repeat;
}
ul.sitemap li:last-child
{
	background: url(../images/dots.png) 8px -289px no-repeat;
}
ul.sitemap li.headline
{
	padding: .5em;
	margin: 0;
	background: none;
}
ul.sitemap li a, ul.sitemap li a:link, ul.sitemap li a:visited
{
	color: #444;
	text-decoration: none;
}
ul.sitemap li a:hover
{
	text-decoration: underline;
}
ul.sitemap li.headline a, ul.sitemap li.headline a:link, ul.sitemap li.headline a:visited
{
	font-size: 1.33em;
	color: #4f9b00;
}
ul.sitemap .level3 img
{
	margin-left: -4px;
	margin-right: 3px;
}
ul.sitemap .level3 a
{
	font-size: 12px;
	font-weight: 300;
	line-height: 18px;
}

.grid_3
{
	width: 220px;
	float: left;
}

#sitemapText
{
	clear: both;
	margin: 30px 0;
}

/* DocumentList */
table.DocumentList
{
	border-color: #d9e8f5;
	width: 600px;
	font-size: 0.9em;
}

.TableHeader
{
	background-color: #4f9b00;
	color: #fff;
	text-align: left;
	padding: 2px 2px 2px 5px;
	border:1px solid #ccc;
}

table.DocumentList td
{
	padding: 2px 1px 2px 5px;
}

table.DocumentList .date
{
	color: #666666;
	font-size: 0.8em;
}

.TableHeader a
{
	color: #fff;
}